.wrapper {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.slide-container {
    width: 300%;
    /* transition: all 1s; */
}

.slide-box {
    width: 33.333333%;
    float: left;
}

.slide-box > img {
    width: 100%;
}

.transition-all {
    transition: all 0.7s;
}