.wrapper {
    height: 1200px;
}

.list-group {
    display: none;
}

.show-list-group {
    display: block;
}

.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.modal {
    display: block;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}

.login-container {
    height: 300px;
    width: 100%;
    background-color: #eee;
    padding: 20px;
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.navbar-brand {
    font-size: 36px;
}

.lorem {
    width: 200px;
    height: 100px;
    overflow-y: scroll;
    margin-left: 500px;
}