* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    box-sizing: border-box;
    background-color: #eee;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: auto;
    height: 300px;
    padding: 20px;
}

.item {
    width: 33%;
    height: 180px;
    margin: auto 10px;
    position: relative;
    overflow: hidden;
}

.item > img {
    width: 100%;
}

.price-anim {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: start;
    padding: 20px;
    flex-direction: column;
    transition: all 0.8s;
}

.price-anim > p {
    font-family: "KNUTRUTHTTF";
}

.font-big {
    font-size: 30px;
    font-weight: bold;
}

.font-normal {
    font-size: 16px;
}

.item:hover .price-anim {
    top: 50%;
}