* {
    margin: 0px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.wrapper {
    background-color: rgb(167, 203, 212);
    padding-top: 1px;
    height: 100vh;
}

.wrapper > * {
    margin: auto;
    width: 800px;
}

.main-title {
    margin-top: 50px;
    margin-bottom: 25px;
    color: rgb(55, 55, 131);
    font-weight: 500;
    font-size: 30px;
}

th, td {
    border-bottom: 1px solid black;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}

th {
    height: 40px;
}

tbody td {
    height: 100px;
}

.table-title > th {
    color: rgb(92, 132, 170);
    font-size: 14px;
}

.product {
    display: flex;
    align-items: center;
}

.product > img {
    display: block;
    width: 100px;
    height: 90px;
    float: left;
}

.product-info {
    margin-left: 30px;
    font-weight: bold;
    text-align: left;
    float: right;
}

.product-name {
    font-size: 20px;
}

.product-model-name {
    font-size: 18px;
    color: rgb(151, 189, 211);
}

.amount {
    text-align: right;
}

.amount, .price {
    color: rgb(151, 189, 211);
}

.total {
    color: rgb(55, 55, 131);
}

.sum-price {
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(55, 55, 131);
}

.footer {
    width: 100%;
    height: 100px;
    position: relative;
    top: 30px;
}

.footer > a {
    float: left;
}

.footer > button {
    float: right;
    height: 60px;
    width: 250px;
    color: #fff;
    background-color: rgb(55, 55, 131);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.footer > button:hover {
    background-color: rgb(61, 61, 95);
}