* {
    margin: 0px;
}

.wrapper {
    display: flex;
    width: 1000px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.main {
    width: 80%;
    padding-right: 30px;
}

/* profile */
.profile {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-image {
    display: flex;
    border-radius: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info {
    margin-left: 10px;
}

.name {
    width: 50px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
}

.upload-time {
    font-size: 12px;
    margin-top: 5px;
    color: grey;
}

/* image */
.image-preview {
    width: 20%;
    height: 100%;
    background-image: url("https://github.com/ljh37694/ljh37694.github.io/assets/84302688/8f5295fb-6ee8-4bcc-89c4-e83d40ce75a3");
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: end;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    font-size: 30px;
    color: white;
    font-weight: lighter;
    background-color: rgba(94, 94, 94, 0.5);
}

/* main-content */
.content {
    width: 100%;
    height: 80%;
    text-justify: center;
}

.content > .title {
    font-size: 24px;
    font-weight: bold;
    height: 20%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content > .text {
    height: calc(70% - 40px);
    font-size: 16px;
    color: grey;
}

.footer {
    display: flex;
    height: 10%;
    justify-content: end;
}

.share-image {
    height: 100%;
}