<nav class="nav">
    <a class="logo">AppleForum</a>
    <a href="/write">Write</a>
    <a href="/list">Posts</a>
    <a href="/my-page">My Page</a>
    <a href="/login">Login</a>
    <a href="/chat-list">Chat Group</a>
</nav>